In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"]
    }
)

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
ages = pd.Series([22, 35, 58], name="Age")

In [6]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
df["Age"].max()

58

In [8]:
ages.max()

58

In [9]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000